In [5]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML


# Algorithm


def floyd(G):
    dist = list(map(lambda p: list(map(lambda q: q, p)), G))
    # print(dist)

    # Adding vertices individually
    for r in range(nV):
        # if(r == 0 or r == 1 or r == 2):  # skip this line if no specific stops are required
        print("For r = ", r)
        for p in range(nV):
            for q in range(nV):
                dist[p][q] = min(dist[p][q], dist[p][r] + dist[r][q])
        # print(dist)
        #np_arr = sol(dist)
        display(HTML(pd.DataFrame(dist).to_html()))
        # else:
        # continue


# Printing the output
def sol(dist):
    temp_mat = dist
    for p in range(nV):
        for q in range(nV):
            if(temp_mat[p][q] == INF):
                # print("INF", end=" ")
                temp_mat[p][q] = "INF"
            else:
                # print(dist[p][q], end="  ")
                continue
        # print("")  # \n is append to the end of the string
    return temp_mat


# Number of vertices
nV = 6
INF = 999  # used as infinitum representation

# TODO: Migrate the input to CSV
G = [[0, 40, 150, 980, 690, 590],  # A
     [40, 0, 220, 130, 390, 810],  # B
     [150, 220, 0, 15, 930, 490],  # C
     [980, 130, 15, 0, 800, 130],  # D
     [690, 390, 930, 800, 0, 5],  # E
     [590, 810, 490, 130, 4, 0],  # F
     ]

display(HTML(pd.DataFrame(G).to_html()))
floyd(G)

For r =  0

For r =  1

For r =  2

For r =  3

For r =  4

For r =  5